* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.txt {
    font-family: "Geist", sans-serif;
}

.link {
    font-style: italic;
    transition: color 300ms ease-in-out;
    color: red;
}

.link:visited {
    color: rgb(255, 0, 0);
}

.link:hover {
    color: rgb(255, 115, 0);
}

.link:active {
    color: rgb(149, 82, 0);
}

.heading {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.main-heading {
    text-align: center;
    font-size: 56px;
    margin-bottom: 20px;
}

.chapter-heading {
    font-size: 44px;
}

.sub-heading {
    font-weight: normal;
    font-size: 36px;
}

.body {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 800px;
    min-height: 100vh;
    background-color: rgb(244, 164, 164);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.main-container {
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(253, 220, 195);
    box-shadow: rgb(255, 115, 0) 0 0 15px;
}

/* MAIN HEADER */

.main-header {
    position: sticky;
    top: 0;
}

.main-nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main-nav-item {
    transition: transform 200ms ease-in-out,
                color 100ms ease-in-out;
}

.main-nav-item:hover {
    transform: scale(1.07);
}

.main-nav-item:active {
    transform: scale(0.9);
}

/* MAIN */

.main {
    flex-grow: 1;
}

.img-float {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

/* MAIN FOOTER */

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}