* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    color: blue;
}

html{
    cursor: url(../img/ded.png), auto;
}

.body{
    min-height: 100vh;
    display: flex;
    background-image: radial-gradient(orange,red);
    padding: 40px;
    gap: 20px;
    flex-direction: column;
    align-content: stretch;
}

/*mainer*/

.main-container{
    background-color: bisque;
    padding: 30px;
    border-radius: 60px;
    border: 4px solid rgb(218, 218, 218);
    box-shadow: rgba(255, 255, 255, alpha);
}

.one-column-flex-container {}

.one-line-flex-container {}

.three-column-grid-container{
    display: grid;
    grid-template-columns: repeat(3, auto); 
    gap: 20px;
    grid-auto-rows: 100px;
}

.link{
    color: red;
    transition: color 100ms ease-in-out,
                transform 100ms ease-in-out;
}

.link:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.link:active{
    color: blue;
    transform: scale(1);
}

.main-header{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.main{
    flex-grow: 1;
}

.cards{

}

.card{
    background-color: red;
    color: bisque;
    padding: 20px;
    border-radius: 15px;
}

.main-footer{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-footer-item{
    color: red;
    text-decoration: none;
    transition: color 100ms ease-in-out,
                transform 100ms ease-in-out;
}

.main-footer-item:hover{
    color: blue;
    transform: scale(1.1);
}

.main-footer-item:active{
    color: orange;
    transform: scale(1);
}

.main-header-item{
    font-family: "Ubuntu", sans-serif;
}

.main-header-title{
    display: flex;
    font-size: 32px;
    text-decoration: none;
    color: red;
    transition: color 100ms ease-in-out,
                transform 100ms ease-in-out;
}

.main-header-title:hover{
    transform: scale(1.1);
}

.main-header-title:active{
    transform: scale(1);
    color: blue;
}

.main-header-nav{
    display: flex;
    justify-content: center;
}

.main-header-nav-item{
    padding: 10px;
    color: red;
    text-decoration: none;
}

.main-header-nav-item:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.main-header-nav-item:active{
    color: blue;
    transform: scale(1);
}

.btn{
    text-decoration: none;
    border: 2px solid red;
    background-color: red;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 15px;
    color:bisque;
    transition: backgroung-color 100ms ease-in-out,
                color 100ms ease-in-out,
                transform 100ms ease-in-out;
}

.btn:hover{
    background-color: bisque;
    color: red;
}

.btn:active{
    transform: scale(0.9);
}

